<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>

<div id="stats">
    <div class="global">
        <div class="stat">
            Arrow keys to adjust sim speed, shift to increase adjustment
        </div>
        <div class="stat">
            Target simulation speed: {{ sim * 100 }} hours/s
        </div>
        <div class="stat">
            Actual simulation speed: {{ (actual * 100).toFixed(0) }} hours/s
        </div>
    </div>
    <label class="object" :style="{ color: obj.color }" v-for="obj in objects">
        <div class="stat">
            {{ obj.name }}<input type="checkbox" v-model="obj.enabled" />
        </div>
        <div class="stat">
            Speed (km/s):<span>{{ (obj.vel.len / 1000).toFixed(1) }}</span>
        </div>
        <div class="stat">
            Distance from sun (km):<span>{{ (obj.pos.sub(sun.pos).len / 1000).toExponential(3) }}</span>
        </div>
        <div class="stat">
            Perihelion (km):<span>{{ ((obj.semimajor - obj.semimajor * Math.sqrt(1 - Math.pow((obj.semiminor / obj.semimajor), 2))) / 1000).toExponential(3) }}</span>
        </div>
        <div class="stat">
            Aphelion (km):<span>{{ ((obj.semimajor + obj.semimajor * Math.sqrt(1 - Math.pow(obj.semiminor / obj.semimajor, 2))) / 1000).toExponential(3) }}</span>
        </div>
    </label>
</div>

<canvas></canvas>

<script src="bundle.js"></script>